@import "../../global.scss";

.overrides {
    background-color: $darkNavbar;
    .custom-brand-name {
        color: $textColor;
        font-weight: 600;
        font-size: 35px;
    }

    .custom-nav-link {
        color: $textColor;
        text-decoration: none;
        margin-left: 20px;
        border-top: 5px solid transparent;
        font-weight: 400;
        font-size: 32px;
        color: inherit;
        text-decoration: inherit;

        &.active {
            color: $highlightColor;
            border-top: 5px solid $highlightColor;
            transition: all 0.5s ease;
        }

        &:hover {
            border-top: 5px solid $highlightColor;
            transition: all 0.5s ease;
        }
    }
}