@import "../../global.scss";

.player-wrapper {
    width: 100%;
    height: 600px;

    .react-player {
        object-fit: cover;
        transform: translateY(-300px);
        overflow: hidden;
        z-index: -1;
        box-shadow: inset  10px 10px 10px 10px rgba(0, 0, 0, 0.35);

        &:after {
            content: "";
            position: absolute;
            top: 78%;
            left: 0;
            height: 300px;
            width: 150%;
            background: $darkBackground;
            box-shadow: 0px -20px -20px rgba(0, 0, 0, 0.25);
            //-webkit-transform: rotate(-4deg);
            //-moz-transform: rotate(-4deg);
            //transform: rotate(-4deg);
            clip-path: polygon(0 159px, 100% 0, 100% 300px, 0 300px);

            z-index: 1;
        }
    }
}

.spacer {
    height: 250px;
    background-color: $darkBackground;
}

.about-section {
    background-color: $darkBackground;
    width: 100%;
    height: 400px;
    z-index: 2;
    display: flex;
    justify-content: center;

    .about-container {
        width: 60%;
        h1 {
            font-weight: 300;
            font-size: 60px;
            float: right;
            color: $highlightColor;
            z-index: 3;
            margin-right: 20px;
            border-bottom: 3px solid $highlightColor;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 32px;
            float: left;
            color: $textColor;
        }
    }
}