@import "../../global.scss";

.home-container {
    background-color: $darkBackground;
}

.player-wrapper {
    padding-top: 80px;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
        video {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 520px;
            box-shadow: 0 0 5px 10px #555;
            // Use border radius to fix a bug on chrome @ https://bugs.chromium.org/p/chromium/issues/detail?id=400829#c31
            -webkit-border-radius: 1px;
            border-radius: 1px;
            z-index: 2;
            object-fit: cover;
            object-position: center;
        }
        &::before {
            content: '';
            position: absolute;
            height: 520px;
            width: 100%;
            background: $darkBackground; //Change as per your requirement
            z-index: 3;
            -webkit-clip-path: polygon(100% 79%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 79%, 0% 100%, 100% 100%);

            @media (max-width: 767px) {
                -webkit-clip-path: none;
                clip-path: none;
                background: none;
            }
        }
    }

.about-section {
    background-color: $darkBackground;
    width: 100%;
    display: flex;
    justify-content: center;

    .about-container {
        width: 100%;
        h1 {
            font-weight: 300;
            font-size: 60px;
            float: right;
            color: $highlightColor;
            margin-right: 20px;
            border-bottom: 3px solid $highlightColor;
            margin-bottom: 30px;
        }

        p {
            font-weight: 400;
            font-size: 32px;
            float: left;
            color: $textColor;
        }
    }
}