@import "../../global.scss";

.searchbar-container {
    input {
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);
        border-bottom: 2px solid $textColor;
        color: $textColor;
        font-weight: 300;
        font-size: 2vw;
        width: 80%;
        &:focus {
            outline: none;
        }
    }
}
